<div class="map-section">
    <div class="map-items">
        <div class="googpemap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.03573487025!2d106.61131657578466!3d10.731727289414348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752dc3aeefe903%3A0xbb881294e6bd127e!2zNDIgQsO5aSBUxrAgVG_DoG4sIEFuIEzhuqFjLCBCw6xuaCBUw6JuLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1744224304650!5m2!1svi!2s"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>